
@{
    Layout = null;
}

<h1>Deneme</h1>
<br />
<div>burası deneme sayfasıdır.</div>

@{
    var deger = "<b>Merhaba</b>" + "<p style=\"color:blue; font - wight:bold\">Burası 2.cümle</p>";
}
@Html.Raw(deger)